// page-home {
//     #pop{
     
//         background-position: center;
//         background-size: contain;
//         height: 100%;
//         width: 100%;
//         text-align:center;



// } 
//     }

    .right{
     
       padding: 5%;
       float: right;
       width:50%;

    }

    .left{
        padding: 5%;
        border-right: 1px solid lightgray;
        float:left;
        border-left-width: 1px;
        width: 50%;
        height: 200px;
    }

    .reset{
        margin-top:140%;
    }
